body {
  position: relative;
  height: 100vh;
  background-color: #fcfcfc;
  font-family: Helvetica Neue, serif;
  overflow-y: hidden;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
